body {
    margin: 0px;
    padding: 0px;    
    overflow: auto;
}

#main {    
    background-color: var(--content-background-color);
    font-family: var(--font-family);
    padding: 20px;

    .flex-center {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 300px;
            margin-bottom: 30px;
        }
    }
    
    .go-back{
        font-size: 20pt;
        cursor: pointer;
        position: absolute;
        left: 0;
        margin-left: 20px;
    }

    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;

        .close-videos-select {
            font-size: 20pt;
            cursor: pointer;
        }

        img {
            width: 340px;
            height: 200px;
        }
    }
}