@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '../../../../assets/css/main';

body {
    background-color: $secondary;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#navbar {
    background: $secondary;    
    //-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    //-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    //box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 75px;

    #name {
        border: none;
        background: inherit;
        font-family: 'Poppins', sans-serif;
        color: $text_color;
        font-size: 22px;
        -webkit-font-smoothing: antialiased;
        margin-top: 9px;
        margin-left: 10px;
        width: 100%;
    }

    .category {
        font-family: 'Poppins', sans-serif;
        color: $text_color;
    }

    #category {
        border: none;
        font-family: 'Poppins', sans-serif;
        background: $secondary;
        margin-top: 9px;
        color: $text_color;
    }

    #save {
        border: none;
        background: inherit;
        box-shadow: inset 0 0 0 2px #f56a6a;
        display: inline-block;
        font-size: 0.8em;
        font-weight: 700;
        text-align: center;
        background-color: transparent;
        border-radius: 0.375em;
        font-size: 0.8em;
        font-weight: 700;
        height: 3.5em;
        letter-spacing: 0.075em;
        line-height: 3.5em;
        padding: 0 2.25em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        color: #f56a6a !important;
        float: right;
    }

    #save:hover {
        background: rgba(218, 102, 102, 0.1);
    }

    #name, #category, #save {
        display: inline-flex;
        vertical-align: bottom;
    }
}

#main {
    height: calc(100vh - 75px);
}

textarea {
    overflow: auto;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: $secondary;
    color: $text_color;
}
