@import '../../../../assets/css/main';

body {
    margin: 0px;
    padding: 0px;   
    overflow: hidden; 
    background-color: $primary;
}

.slides {
    overflow-y: scroll;
    text-align: center;
    //background: rgba(231, 228, 221, 0.87);
    background-color: $secondary;
    color: $text_color;
    height: calc(100vh - 38px);
    display: flex;
    flex-direction: column;
    padding: 20px;

    .valid {
        cursor: pointer;
        margin: 10px;
    }

    .active {
        background: rgba(255, 255, 0, 0.288);
    }
}

.nav-bar {
    padding: 10px;

    div {
        padding: 0px;
        margin: 0px;
    }
}