@mixin icon {
    padding: 8px;
    border-radius: 50px;

    svg {
        fill: var(--icon-color);
    }

    &:hover {
        background-color: var(--hover-icon-background-color);

        svg {
            fill: var(--hover-icon-color);
        }
    }
}

@mixin active-icon {
    background-color: var(--icon-background-color);
    border-radius: 50px;

    svg {
        fill: var(--active-icon-color);
    }
}

@mixin title {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--text-color);
}

.title {
    @include title();
}

#main {
    font-family: var(--font-family);
    background-color: var(--background-color);
    height: 100vh;

    .header {
        padding: 16px;
        margin-bottom: 30px;
        align-items: center;

        #logo {
            padding: 8px;

            svg {
                fill: var(--icon-color);
            }
        }

        #search-container {
            width: 40%;
            height: 40px;
            margin-left: 56px;
            padding: 5px;
            align-items: center;
            border-radius: var(--border-radius);
            background-color: var(--input-background-color);
            font-family: var(--input-font-family);
            box-shadow: var(--input-box-shadow);

            svg {
                margin-right: 5px;
                fill: var(--icon-color);
            }

            input {
                width: 100%;
                margin-left: 10px;
                border: none;            
            }
        }

        #theme, #loading {       
            padding: 0 10px 0 10px;
        }

        #theme {
            border-right: 2px solid #ddd;
        }
    }

    #sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16px;

        margin: 50px 0px 0px 50px;

        span, div {
            @include icon();
            margin-top: 30px;

            &.active {
                @include active-icon(); 
            }
        }
    }

    #center-container {
        width: calc(100vw - 190px);
    }

    iframe {
        position: absolute;
        z-index: 100;
        width: calc(100vw - 220px);
        height: calc(100vh - 78px - 50px);
        border-radius: var(--border-radius);
    }

    .list-group-item {
       
    }

    .list-group-item.active {
    }

    #presentation-container {
        width: calc(60%);
        background-color: var(--content-background-color);
        padding: var(--content-wrapper-padding);
        height: calc(100vh - 78px - 50px);
        border-radius: var(--border-radius);

        #presentation-options {
            width: 100%;
            justify-content: space-between;
            align-items: center;

            span {
                cursor: pointer;
                
                svg {
                    fill: var(--icon-color);
                }
            }
        }

        #presentation-view {
            overflow: scroll;
            height: calc(100% - 50px);
        }
    }

    #presentations-wrapper {
        margin-left: 25px;
        width: calc(35%);
        border-radius: var(--border-radius);
        background-color: var(--content-background-color);
        padding: var(--content-wrapper-padding);
        height: calc(100vh - 78px - 50px);

        padding: 0px;
        p {
            padding: 20px;
            margin: 10px 10px;
        }

        p {
            @include title();
        }

        select {
            @include title();
            display: none;
        }

        #presentation-list {
            width: 100%;
            height: calc(100% - 120px);
            overflow-y: scroll;

            span {
                border: 1px solid rgba(0, 0, 0, 0.085);
                border-left: none;
                border-right: none;
                border-bottom: none;
            }
        }
    }
}