body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #0e1015;
}

.header {
  background: #0e1015;
  color: #f5f5f5;
  padding-top: 20px;
  height: 75px;
  z-index: 10;
}

.header svg {
  font-size: 15pt;
  margin-top: 7px;
}

.header span {
  margin-right: 5px;
  cursor: pointer;
}

.header #loading {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  padding-right: 40px;
}

.header #loading img {
  width: 35px;
  margin-left: 10px;
}

.header #search-container {
  padding: 0px;
  background-color: #181a20;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header #search-container img {
  margin: 10px;
}

.header #search-container #search {
  background-color: #181a20;
  border-color: #181a20;
  width: 100%;
  padding: 0px;
  color: #f5f5f5;
}

.header #search-container .form-control:focus {
  box-shadow: none;
}

#main {
  margin: 0px;
  padding: 0px;
  box-shadow: inset 0em 1em 1em 0em rgba(0, 0, 0, 0.15);
  background: #0e1015;
}

#main #left-bar {
  margin: 0px;
  padding: 0px;
  background: #181a20;
  color: white;
}

#main #left-bar .form-control:focus {
  box-shadow: none;
  border: none;
  border-color: navy;
  outline: none;
}

#main #left-bar #categories {
  height: 50px;
  background: #1b1d23;
  color: white;
  border: none;
  font-weight: 600;
  margin-right: 0px;
}

#main #left-bar #presentation-list {
  overflow-y: scroll;
  height: calc(100vh - 133px);
  font-weight: 300;
  color: rgba(255, 255, 255, 0.65);
  cursor: default;
}

#main #left-bar #presentation-list span {
  background: #181a20;
}

#main #left-bar #presentation-list .list-group-item.active {
  border-color: #28a745;
}

#main #left-bar #presentation-list :focus {
  outline: none;
}

#main #presentation-view {
  background: #181a20;
  margin-left: 60px;
  text-align: center;
  font-size: 14pt;
  color: rgba(255, 255, 255, 0.65);
  padding-top: 20px;
}

#left-menu {
  position: absolute;
  z-index: 100;
  max-width: 80px;
  min-width: 80px;
  height: 100vh;
  margin-left: 0px;
  left: 0;
  background-color: #0c0e13;
  padding: 20px;
  border: 1px solid;
  border-right-color: rgba(255, 255, 255, 0.08);
}

#left-menu div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

#left-menu #logo img {
  margin-top: 5px;
  margin-bottom: 20px;
}

#left-menu #settings-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20%;
}

#left-menu #settings-container img {
  margin-bottom: 5px;
}

#left-menu img {
  width: 30px;
  margin-top: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #181a20;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
