body, .row {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

iframe {
    border: none;
}

*:focus {
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.right {
    position: absolute;
    right: 0;    
}

.align-items-center {
    align-items: center;
}

.hide {
    display: none;
}

.presentation, #loading {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(211, 209, 209);
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}