$background-color: #f3f6fd;
$content-background-color: #fff;
$text-color: #1f1c2e;
$font-family: Poppins;
$input-font-family: "DM Sans", sans-serif;
$input-background-color: #fff;
$input-box-shadow: 0 2px 6px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);

$icon-color: #1f1c2e;
$active-icon-color: #fff;
$hover-icon-color: #c3cff4;

$border-radius: 40px;

@mixin active-icon {
    background-color: $icon-color;
    border-radius: 50px;

    svg {
        fill: $active-icon-color;
    }

    &:hover {
        background-color: $hover-icon-color;

        svg {
            fill: $icon-color;
        }
    }
}

@mixin title {
    font-size: 12pt;
    font-weight: 700;
    color: $text-color;
}

*:focus {
    outline: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.theme-light {
    background-color: $background-color;

    .header {
        padding: 15px;

        #search-container {
            padding: 5px;
            align-items: center;
            border-radius: $border-radius;
            background-color: $input-background-color;
            font-family: $input-font-family;
            box-shadow: $input-box-shadow;

            svg {
                margin-right: 5px;
                fill: $icon-color;
            }

            input {
                margin-left: 10px;
                border: none;            
            }
        }

        #loading {
            position: absolute;
            right: 0;
            margin-right: 7px;
        }
    }

    #left-menu {
        display: flex;
        flex-direction: column;
    }
}