$header_bg: #343A40;
$header_color: #f5f5f5; 

$primary: #0c0e13;
$secondary: #181a20;
$background: #0e1015;
$text: white;

body {
    margin: 0px;
    padding: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}